<%- include('../../partials/header') %>
<%- include('../../partials/survey-header') %>

<section class="light-grey new-project padded">
    <link rel="stylesheet" href="/css/surveyEdit.css">

    <div id="surveyContainer">
        <div id="sidebar" class="sidebar"></div>
        <div id="surveyElement" class="survey-element"></div>
        <div id="certificationProgress" class="certification-progress">
            <div id="res" class="alert"></div>
            <h3>Certification Progress</h3>
            <div id="certificationProgressDetail"></div>
        </div>
    </div>

    <script>
        window.surveyConfig = {
            responseSetId: '<%= responseSetId %>',
            surveyId: '<%= surveyId %>',
            datasetId: '<%= datasetId %>'
        };
    </script>
    <script src="/lib/purify.min.js"></script>
    <script type="module" src="/js/surveyPage.js"></script>
    
</section>

<%- include('../../partials/footer') %>
